/* reset.css */
/* 各ブラウザのデフォルトスタイルをリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #333;
    background-color: #e6ee9c;
}

/* style.css */

/* ヘッダー全体のスタイル */
header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #f9fbe6;
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;
}

h1{
    font-size: 1em;
    color: #333;
    font-weight: bold;
    margin-top: 0.6em;
    margin-bottom: 0.2em;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.contents {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1.5%;
    align-items: center;
}

.link_title {
    /* ここにスタイルを記述 */
    color: black;
    font-weight: bold;
    margin-right: 20px;
}

.link_title a {
    text-decoration: none;
    color: #999999;
    padding: 10px 15px;
    border: 1px solid #acdc39;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.link_title a:hover {
    background-color: #acdc39;
    color: #fff;
}


/* カード全体のスタイル */
.card {
    max-width: 400px;
    background-color: #fff;
    margin: 50px auto;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* タイトルのスタイル */
.card__title {
    font-size: 2.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

/* コンテンツメッセージのスタイル */
.card__content {
    font-size: 1.6rem;
    color: #666;
    margin-bottom: 2rem;
}

/* フォームのスタイル */
.card__form form {
    display: flex;
    flex-direction: column;
}

/* ラベルのスタイル */
.card__form label {
    font-size: 1.4rem;
    color: #333;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.name,.email,.password,.form,.form_detail
{
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.name:focus,
.email:focus,
.password:focus,
.form:focus,
.form_detail:focus
{
    border-color: #6bdae5;
    background-color: #fff;
}

.form_detail{
    width: 50%;
    background-color: #ffffff70;
}
/* ボタンのスタイル */
.submit{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.6rem;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #74dce7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    transition: all 0.3s ease;
}

/* ボタンがホバーされたときのスタイル */
.submit:hover
{
    background-color: #39cddc;
}

/* ボタンが押されたときのスタイル */
.submit:active
{
    background-color: #2b9aa5;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

table th,
table td {
    padding: 12px;
    border: 1px solid #ddd;
}

table th {
    background-color: #abdc3960;
    color: #666;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #e2e8ac;
}

table tr:hover {
    background-color: #f1f1f1;
}

#progressContainer {
    width: 50%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

#progressBar {
    width: 0%;
    height: 20px;
    background-color: #76c7c0;
}

.timer-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    color: #fff;
}

.start {
    background-color: #74dce7;
    /* 緑色 */
}

.start:hover {
    background-color: #39cddc;
}

.stop {
    background-color: #2a9eab;
    /* 赤色 */
}

.stop:hover {
    background-color:#2fb3c2
}

.reset {
    background-color:#89e4bb;
    /* 青色 */
}

.reset:hover {
    background-color: #89e4bb;
}
